body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.user-list {
  max-width: 800px;
  margin: 0 auto;

  
  @nest & li {
    list-style: none;
    padding: 10px 30px;
    border-bottom: solid 1px #ccc;
  }
}
.logo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 200px;
  height: 50px;
}